@import 'styles/global';

.Level {
	height: 100vh;
	overflow: hidden;
	&__sky {
		height: 30vh;
		background: $medium-light-cyan;
		&__logo {
			width: 20vw;
			position: absolute;
			left: 40vw;
			top: 5vh;
		}
		&__sun {
			width: 10vw;
			position: absolute;
			right: 10vw;
			top: 5vh;
		}
		&__busStop {
			width: 2vw;
			position: absolute;
			right: 20vw;
			bottom: 70vh;
		}
		&__cloud1,
		&__cloud2,
		&__cloud3 {
			width: 10vw;
			position: absolute;
			top: 10vh;
			opacity: 50%;
		}
		&__cloud1 {
			left: 15vw;
		}
		&__cloud2 {
			left: 35vw;
		}
		&__cloud3 {
			left: 65vw;
		}
	}
	&__road {
		height: 5vh;
		width: 100%;
		background: $medium-light-yellow-green;
		display: flex;
		justify-content: center;
	}
	&__grass {
		height: 65vh;
		background: $medium-light-yellow-green;
		z-index: 2;
		display: flex;
		justify-content: center;
		padding-left: 25vw;
	}
	&__explanation {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1em;
		width: 60vw;
		height: 55vh;
		border: 2px solid $black;
		border-radius: 15px;
		position: absolute;
		top: 35vh;
		left: 20vw;
		background: $white;
		z-index: 4;
	}
}

