@import 'styles/global';

.Walkalley {
	position: relative;
	border-bottom: 65.2vh solid $medium-dark-yellow-2;
	border-left: 0 solid transparent;
	border-right: 10vw solid transparent;
	height: 0;
	width: 3vw;
	transform: skewX(-55deg);
	left: 50vw;
	bottom: 5.2vh;
}
