$black: #000000;

$dark-blue-magenta: #212132;
$dark-magenta: #3b2b39;
$dark-red-orange: #573d36;
$dark-green-cyan: #353c39;

$medium-dark-green: #596541;
$medium-dark-yellow:#4f4b31;
$medium-dark-orange: #7b5a47;
$medium-dark-blue: #3d426b;
$medium-dark-cyan-blue: #485f7a;
$medium-dark-yellow-2: #585652;
$medium-dark-blue-magenta: #634d7e;
$medium-dark-red: #8a453d;
$medium-dark-yellow-2: #806e47;

$dark-light-green: #6a8d74;

$brown-orange: #bc7d50;
$green: #94b565;
$blue: #6175cc;
$cyan: #696a6a;
$pink-red: #b2696a;
$yellow-green: #939463;
$blue-magenta: #807e84;

$medium-light-brown: #c4a37c;
$medium-light-yellow-green: #bfdc83;
$medium-light-blue: #7c9deb;
$medium-light-cyan: #98c8db;
$medium-light-cyan-blue: #a3adb4;
$medium-light-magenta: #b889b1;

$light-brown: #dec5a8;
$light-yellow: #f8ee87;

$very-light-blue: #d3dcf4;
$white: #ffffff;
