@import './colors';
@import './fonts';
@import './mixins';

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  image-rendering: pixelated;
}
