.Roadgroup {
	&__list {
		width: 80vw;
		display: flex;
		position: relative;
		top: 28vh;
		left: 15vw;
		list-style: none;
		&__item {
			margin: -1.36vw;
			&__img {
				width: 10vw;
			}
		}
	}
}
