@import 'styles/global';

.Levels {
	background-color: $medium-dark-green;
	height: 100vh;
	padding: 3vh;
	@include flex-column-center;
	&__logo {
		width: 300px;
	}
	&__list {
		list-style: none;
	}
}